<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardovalleramire.myapplication">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/cloud"
        android:label="Ricardo"
        android:roundIcon="@drawable/cloud"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name=".Graphics"
                    android:theme="@style/HiddenTitleTheme"
                    android:noHistory="true">
        </activity>
        <activity   android:name=".Stadistics"
                    android:theme="@style/HiddenTitleTheme"
                    android:noHistory="true">
        </activity>
        <activity   android:name=".Comunication"
                    android:theme="@style/HiddenTitleTheme"
                    android:noHistory="true">
        </activity>
        <activity   android:name=".Faq"
                    android:theme="@style/HiddenTitleTheme"
                    android:noHistory="true">
        </activity>
    </application>
</manifest>